html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("http://www.ggportland.com/wp-content/uploads/2014/08/ErinBerzelPhotography_5864.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#store-select {
  margin: 8px;
}

#map {
  height: 60vh;
  width: 60vh;
  display: block;
  margin: auto;
}

#mainHeader {
  text-align: center;
  font-size: 36pt;
  color: white;
}

#subHeader {
  text-align: center;
  font-size: 24pt;
  color: white;
}

#garbanzoBean {
  text-align: center;
  font-size: 12pt;
  color: white;
}

#store-button {
  border-radius: 24px;
  margin: 8px;
  box-shadow: 0px 6px 5px #888888;
}

#store-button:active {
  box-shadow: 2px 2px 2px #888888;
  transform: translateY(4px);
}

.well {
  margin: 14px;
  background-color: rgba(80, 80, 80, 0.8);
}

label {
  color: white;
}
